<template lang="pug">
  v-container
    v-layout(row wrap)
      v-flex.px-2(xs12 md4)
        v-img.elevation-2(:src='getBookData("imageLinks").thumbnail')
          v-btn(@click='!isMeFav ? setFav():setUnFav()' :color='!isMeFav ? "orange":"pink"', right, dark, absolute)
            v-icon {{!isMeFav? 'favorite_border':'favorite'}}
      v-flex(xs12 md8)
        span.title {{getBookData('title')}} &nbsp;
        span.sub-title {{getBookData('subtitle')}}
        blockquote.blockquote(v-html='getBookData("description")')
        table.data-table
          tr
            td Authors:
            td {{getBookData('authors',true).join(', ')}}
          tr
            td Published Date:
            td {{getBookData('publishedDate')}}
          tr
            td Pages:
            td {{getBookData('pageCount')}}
          tr
            td Categories:
            td {{getBookData('categories',true).join(', ')}}
          tr
            td Buy:
            td.pa-2
                v-img(alt='Google Books'
                src='https://www.playstoredownloadappapk.com/wp-content/uploads/2017/12/en_icon_rgb_horiz_book_gray.png'
                style='cursor:pointer; background-color:#fff' height='50px' contain
                @click='goLink(getBookData("previewLink"))')
          tr
            td More Info:
            td.pa-2
                v-img(alt='Google Books'
                src='https://www.playstoredownloadappapk.com/wp-content/uploads/2017/12/en_icon_rgb_horiz_book_gray.png'
                style='cursor:pointer; background-color:#fff' height='50px' contain
                @click='goLink(getBookData("infoLink"))')


</template>

<script>
import { mapGetters ,mapActions, mapMutations } from 'vuex'
export default {
  name: 'App',
  components: {

  },
  data() {
    return {
      id: '',
      book: {}
    }
  },
  computed: {
    ...mapGetters(['isFav']),
    isMeFav() {
      return this.isFav(this.book)
    },
  },
  async created() {
    this.id = this.$route.params.id
    this.book = await this.getBookDetail(this.id)
  },
  methods: {
    ...mapMutations(['ADD_FAV_BOOK','REMOVE_FAV_BOOK']),
    ...mapActions(['getBookDetail']),
    getBookData(key,isArray=false) {
      return (this.book.volumeInfo && this.book.volumeInfo[key]) ? this.book.volumeInfo[key] : ((isArray) ? [] : '')
    },
    goLink(url) {
      window.open(url, '_blank')
    },
    setFav() {
      this.ADD_FAV_BOOK(this.book.id)
    },
    setUnFav() {
      this.REMOVE_FAV_BOOK(this.book.id)
    },
  }
}
</script>

<style scoped>
	.data-table{
		width:100%;
		border-collapse:collapse;
	}

	.data-table tr td:nth-child(odd){
		background: #444;
	}
	/*  Define the background color for all the EVEN table columns  */
	.data-table tr td:nth-child(even){
		background: #222;
	}

  .data-table td {
    padding: 15px;
  }
</style>
