<template lang="pug">
  v-container
    v-layout(row wrap)
      v-flex(v-for='(book,i) in favBooks' :key='`favbookcard-${i}`' xs12 md3)
        transition(name="fade" mode="out-in")
          book-card(:book='book')

    //- infinite-loading(@infinite='scrollMore' spinner="waveDots")
    //-   span(slot='no-more') No more book
    //-   span(slot='no-results') Found 0 book
</template>


<script>
import { mapState,mapActions } from 'vuex'
import BookCard from '../components/BookCard.vue'
import InfiniteLoading from 'vue-infinite-loading'
export default {

  components: {
    BookCard,InfiniteLoading
  },
  data() {
    return {
      favBooks: []
    }
  },
  computed: {
    ...mapState(['favBookIds'])
  },
  mounted() {
    this.favBookIds.forEach(async id => {
      this.favBooks.push(await this.getBookDetail(id))
    })
  },
  methods: {
    ...mapActions(['getBookDetail']),
    async scrollMore($state) {
      console.log('Loading more books...')

      console.log(loadResult)
      if(loadResult === 'complete')
        $state.complete()
      else if(loadResult === 'loaded')
        $state.loaded()
      else
        $state.error()
    }
  }
}
</script>
