<template lang='pug'>
  v-container
    v-layout(row wrap)
      v-flex
        span.title {{flavorText.replace('$n',(currentBooks.totalItems||'0'))}}
    v-divider.py-1()
    v-layout(row wrap)
      v-flex(v-for='(book,i) in currentBooks.items' :key='`bookcard-${i}`' xs12 md3)
        transition(name="fade" mode="out-in")
          book-card(:book='book')

    infinite-loading(@infinite='scrollMore' spinner="waveDots")
      span(slot='no-more') No more book
      span(slot='no-results') No more results
</template>

<script>
import { mapState,mapActions } from 'vuex'
import BookCard from '../components/BookCard.vue'
import InfiniteLoading from 'vue-infinite-loading'
export default {

  components: {
    BookCard,InfiniteLoading
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapState(['currentBooks','flavorText']),
  },
  methods: {
    ...mapActions(['search']),
    async scrollMore($state) {
      console.log('Loading more books...')
      let loadResult = ''
      if(this.currentBooks.length === 0)
        loadResult = await this.search({mode:'random'})
      else
        loadResult = await this.search({mode:'next'})
      console.log(loadResult)
      if(loadResult === 'complete')
        $state.complete()
      else if(loadResult === 'loaded')
        $state.loaded()
      else
        $state.error()
    }
  }
}
</script>
