<template lang="pug">
  div
    v-layout(row)
      v-text-field(v-model='title' @keyup.enter="goSearch" @click:append='goSearch' solo-inverted, flat, hide-details, label='Search', prepend-inner-icon='search' clearable)
      v-combobox(v-if='searchChip.length>0 && $vuetify.breakpoint.smAndUp' v-model='searchChip', :items='history', label='Add Filters', multiple, small-chips, solo-inverted, flat, hide-details, prepend-inner-icon='filter_list' readonly)
        template(v-slot:selection='{ item, parent, selected }')
          v-chip(v-if='item === Object(item)', :color='`${item.color} lighten-3`', :selected='selected', label, small)
            span.pr-2 {{ item.key }}:{{ item.text }}
            v-icon(small, @click='parent.selectItem(item)') close
        template(v-slot:item='{ index, item }')
          v-list-tile-content
            v-chip(v-if='item === Object(item)', :color='`${item.color} lighten-3`', label, small)
              span.pr-2 {{ item.key }}:{{ item.text }}


      v-menu(v-model='menu', :close-on-content-click='false', offset-y :nudge-width='300')
        template(v-slot:activator='{ on }')
          v-icon.px-1(flat v-on="on") filter_list
        v-card
          v-list
            v-list-tile(avatar)
              v-list-tile-avatar
                v-icon filter_list
              v-list-tile-content
                v-list-tile-title Select filters
                v-list-tile-sub-title(v-if='$vuetify.breakpoint.smAndUp') You can also remove filters by filter box
          v-divider
          v-list
            // Order by
            v-list-tile
              v-select(v-model='filters.orderBy.value' label='Order by ?' :items='[{text:"Relevance",value:"relevance"},{text:"Newest",value:"newest"}]')
            // Author
            v-list-tile
              v-text-field(v-model='filters.author.value' label='Author' clearable)
            // Language
            v-list-tile
              v-text-field(v-model='filters.language.value' label='Language' clearable)
            // Print Type
            v-list-tile
              v-select(v-model='filters.type.value' label='Print Type' :items='[{text:"All",value:"all"},"books","magazines"]')
            // E-books
            v-list-tile
              v-select(v-model='filters.isEbook.value' label='E-books?' :items='[{text:"All",value:"all"},{text:"E-book",value:"ebooks"},{text:"Non E-Book",value:"non"}]')
            // Price
            v-list-tile
              v-layout
                //- v-flex
                //-   v-range-slider(v-model='price' label='Price' :max='300', :min='0', :step='1' :disabled='filters.free.value')
                //- v-flex(shrink, style='width: 80px')
                //-   v-text-field.mt-0(v-model='filters.minPrice.value', hide-details, single-line, type='number' prefix="$" min=0 :max='filters.maxPrice.value' :disabled='filters.free.value')
                //- v-spacer
                //- v-flex(shrink, style='width: 80px')
                //-   v-text-field.mt-0(v-model='filters.maxPrice.value', hide-details, single-line, type='number' prefix="$" :min='filters.minPrice.value' :max='300' :disabled='filters.free.value')
                v-flex(shrink)
                  v-switch(v-model='filters.free.value' label='Free?')
            // Mature
            v-list-tile
              v-switch(v-model='filters.mature.value' label='Include mature content ?')
            //- v-list-tile
            //-   v-text-field(v-model='filters.rating.value' label='Rating' clearable)
            //- v-list-tile
            //-   v-text-field(v-model='filters.category.value' label='Main Category' clearable)

      v-btn(outline @click='goSearch')
        v-icon search
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      menu: false,
      searchInput: [],
      history: [],
      title: '',
      filters: {
        author:   {key:'author',    text:'Author',    value:'',     color:'green darken-1',   default:''},
        rating:   {key:'rating',    text:'Rating',    value:'',     color:'purple darken-1',  default:''},
        mature:   {key:'mature',    text:'Mature',    value:false,  color:'purple darken-1',  default:false},
        minPrice: {key:'minPrice',  text:'MinPrice',  value:0,      color:'cyan darken-1',    default:0},
        maxPrice: {key:'maxPrice',  text:'MaxPrice',  value:100,    color:'cyan darken-1',    default:100},
        free:     {key:'free',      text:'Free',      value:false,  color:'cyan darken-1',    default:false},
        type:     {key:'type',      text:'Type',      value:'all',  color:'teal darken-1',    default:'all'},
        language: {key:'language',  text:'Lang.',     value:'',     color:'orange darken-1',  default:''},
        category: {key:'category',  text:'Cat.',      value:'',     color:'indigo darken-1',  default:''},
        isEbook:  {key:'isEbook',   text:'Inc.Book',  value:'all',  color:'red darken-1',     default:'all'},
        orderBy:  {key:'orderBy',   text:'Order by',  value:'relevance',     color:'black',   default:'relevance'},
        orderDir: {key:'orderDir',  text:'Order Dir.',value:'',     color:'black',            default:''},
      }
    }
  },
  computed: {
    price: {
      get: function() {
        return [this.filters.minPrice.value,this.filters.maxPrice.value]
      },
      set: function(newVal) {
        this.filters.minPrice.value = newVal[0]
        this.filters.maxPrice.value = newVal[1]
      }
    },
    searchChip: {
      get: function() {
        return [...Object.keys(this.filters).map(x => this.convertToChip(this.filters[x])).filter(x => x)]
      },
      set: function(newChips) {
        // If user add filter from history,

        // If free, remove min,maxprice
        console.log(newChips.findIndex(x => x.key === 'free' && x.value)>-1)
        // If user remove filter, Find what is excluded from new set (also check if not included from the start)
        let removedFilter = Object.keys(this.filters).filter(k => newChips.findIndex(x => x.key === k)<0 && this.filters[k].value !== this.filters[k].default)
        removedFilter.forEach(k => {
          // Add it to history chip
          this.history.push(this.convertToChip(this.filters[k]))
          // Remove (set to default)
          this.filters[k].value = this.filters[k].default
        })


      }

    }
  },
  methods: {
    ...mapActions(['search']),
    goSearch() {
      let query = {
        mode: 'search',
        text:this.title,
        ...this._.mapValues(this.filters, k => k.value )
      }
      console.log('search', this.searchChip)
      this.search(query)
    },
    remove (item) {
      this.chips.splice(this.chips.indexOf(item), 1)
      this.chips = [...this.chips]
    },
    convertToChip(filter) {
      if(filter.value === filter.default || filter.value === null) {
        return null
      }
      return {
        text: `${filter.value}`,
        key: filter.key,
        color: filter.color
      }
    }
  },

}
</script>

