<template lang="pug">
  v-app(dark)
    v-toolbar(color='amber', app, absolute, clipped-left)
      v-icon(@click='goHome') book
      a.title.ml-3.mr-5.white--text(v-if='$vuetify.breakpoint.smAndUp' @click='goHome')
        | Book
        span.font-weight-light Directory
      search-box
      v-spacer
      v-icon(@click='goHome') home
      v-icon(@click='goFav') favorite
    v-content
      transition(name="fade" mode="out-in")
        router-view
    v-dialog(v-model='isNotify', :persistent="waitState=='wait'", width='300')
      v-card(:color="waitState=='success' && 'light-green' || waitState=='fail' && 'amber' || 'primary' " , dark)
        v-card-text
            span(v-if="waitState=='wait'") Please Wait..
            span(v-if="waitState=='success'") Success !
            span(v-if="waitState=='fail'") Error: {{errmsg}}
            v-progress-linear.mb-0(:indeterminate="waitState=='wait'", color='white')
</template>

<script>
import SearchBox from './components/SearchBox'
import { mapState,mapMutations } from 'vuex'
export default {
  name: 'App',
  components: {
    SearchBox
  },
  data() {
    return {
      //
    }
  },
  computed: {
    ...mapState(['notifying','waitState','errmsg']),
    isNotify: {
      get: function() {
        return this.notifying
      },
      // eslint-disable-next-line
      set: function(newVal) {
        this.CLOSE_NOTIFY()
      }
    }
  },
  mounted() {
    this.LOAD_FAV_BOOK()
  },
  methods: {
    ...mapMutations(['LOAD_FAV_BOOK','CLOSE_NOTIFY']),
    goHome() {
      this.$router.push({ path: '/' })
    },
    goFav() {
      this.$router.push({ path: '/fav' })
    }
  }
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

</style>
